@charset 'utf-8';

/*@import url(mobile.css) screen and (max-width:640px);*/

/*section1 动态轮播图*/
a{
    text-decoration: none;
}
a:hover{
text-decoration: none;
}
.iBanner {
    width: 100%;
    height: 450px;
}
.slide {
    position: relative;
    overflow: hidden;
}
.slide_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide_wrap li {
    float: left;
}
.iBanner img {
    width: 1920px;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    max-width: none;
}

.iBanner ._info {
    /*width: 100%;*/
    height: auto;
    position: absolute;
    left: -1000px;
    top: 0;
    z-index: 10;
    margin-top: 7%;
    color: #fff;
}
.iBanner ._info.on{
    left: 0;
}
.iBanner ._info ._text01 {
    width: 700px;
    height: 74px;
    line-height: 74px;
    position: relative;
    background-color: #1e8cda;
    font-size: 38px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}
.iBanner ._info ._en {
    height: 70px;
    line-height: 70px;
    background-color: #1d2c36;
    font-size: 30px;
    font-family: "Arial";
    padding: 0 20px;
    margin-left: 130px;
}
.iBanner ._info .com_btn {
	width: 119px;
    font-size: 24px;
    font-family: "Arial";
    padding: 0 30px;
    background-color: #F86C0F;
    margin-left: 130px;
}


/*下面轮动图形*/
.iBanner .slide_nav {
    width: 306px;
    height: 142px;
    background: url(../images/duo.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -153px;
    bottom: 0;
}
.iBanner .slide_nav a {
    display: block;
    width: 108px;
    height: 117px;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.iBanner .slide_nav a span {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}
.iBanner .slide_nav .duo1 {
    display: block;
    width: 108px;
    height: 117px;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.iBanner .slide_nav .duo2 {
    width: 117px;
    height: 109px;
    left: 49px;
    bottom: 58px;
    display: block;
}
.iBanner .slide_nav .duo3 {
    width: 115px;
    height: 108px;
    left: 160px;
    bottom: 58px;
}
.iBanner .slide_nav .duo4 {
    width: 97px;
    height: 110px;
    left: 218px;
    bottom: 0;
}
.iBanner .slide_nav .duo1.on{
     background-image: url(../images/duo1.png);
}
.iBanner .slide_nav .duo2.on{
     background-image: url(../images/duo2.png);
}
.iBanner .slide_nav .duo3.on{
     background-image: url(../images/duo3.png);
}
.iBanner .slide_nav .duo4.on{
     background-image: url(../images/duo4.png);
}


/*产品服务*/
.ipro{
    background: url(../images/iprobg.jpg) center top no-repeat;
    padding-bottom: 40px;
}
.ipart ._hd {
    line-height: 1.5;
    padding-top: 30px;
    padding-bottom: 20px;
}
.ipart ._hd ._title {
    font-size: 32px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.ipart ._hd ._en {
    font-size: 24px;
    text-align: center;
    color: #1e8cda;
    font-family: Calibri;
}
.ipart ._en {
    font-size: 24px;
    text-align: center;
    color: #1e8cda;
    font-family: Calibri;
}
.iprolist{
	float: left;
	width: 25%;
	text-align: center;
	
}
.iprolist a{
	color: #305379;
	font-size: 20px;
	font-weight: bold;
}
.iprolist .pico {
    display: block;
    width: 126px;
    height: 126px;
    background: url(../images/ip_ico.png) no-repeat;
    overflow: hidden;
    margin: 0 auto 15px;
    transition: all 1s ease;
}
.iprolist .pico01 {
    background-position: 0 0;
}
.iprolist .pico02 {
    background-position: -126px 0;
}
.iprolist .pico03 {
    background-position: -252px 0;
}
.iprolist .pico04 {
    background-position: -378px 0;
}
.iprolist a:hover .pico{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.iprolist a:hover{
	color:#1E8CDA;
}

/*我们的优势*/
// .adv{
//      width: 100%;
// }
// .adv_slide{
// 	position: relative;
// 	height: 576px;
// }
// .adv .advv{
//     width: 100%;
//     overflow: hidden;
// }
// .adv ul{
// 	width:3924px;
// }
// .adv ul li{
// 	width: 1308px;
// 	float: left;
// }
// .adv_slide img {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: 5;
// }
// .adv .text01 {
//     width: 33.5%;
//     height: 100%;
//     position: absolute;
//     right: -40%;
//     top: 0;
//     z-index: 10;
//     background: #21262a url(../images/textbg.png) left top no-repeat;
//     background-size: auto 100%;
// }
// .adv .text01 ._box {
//     margin: 20% 40px 0;
// }
// .adv .text01 ._title {
//     text-align: right;
//     font-size: 36px;
//     font-weight: bold;
//     color: #1e8cda;
//     line-height: 1.2;
// }

// .adv .text01 ._tag {
//     text-align: right;
//     font-size: 27px;
//     font-weight: bold;
//     color: #f86c0f;
//     border-bottom: #1e8cda 3px solid;
//     line-height: 1.2;
//     padding-bottom: 15px;
//     margin-bottom: 15px;
// }
// .adv .text01 ._text {
//     font-size: 14px;
//     color: #fff;
//     line-height: 1.8;
// }

// .adv .text02{
//     /*left: 420px;*/
//     left: 1500px;
//     width: 450px;
//     height:60px;
//     position: absolute;
//     top: 40%;
//     background-color: #21262a;
//     border-bottom: #1e8cda 6px solid;
//     z-index: 20;
// }
// .adv .text02 img{
//     position: absolute;
//     top: -5px;
//     margin: 5px 5px;
// }
// .adv .slide_nav2{
//     z-index: 20;
//    height: 100px;
//    background-color: red;
//    position: absolute;
//    top:1350px;
//    right: 70px;
//    background: url(../images/arr.png) 70px 0 repeat-x;
// }
// .adv .slide_nav2 i {
//     display: inline-block;
//     width: 44px;
//     height: 45px;
//     line-height: 44px;
//     background: url(../images/slide_p2.png) no-repeat;
//     text-align: center;
//     font-size: 22px;
//     font-style: italic;
//     color: #fff;
//     margin: 0 18px;
//     cursor: pointer;
// }
// .adv .slide_nav2 i.on{
//      background: url(../images/slide_p1.png) no-repeat;
// }

.sec3{

     position: relative;
     width:100%;
     height:579px;
    overflow: hidden;
}
#img{
    width: 100%;
    height:579px;
    z-index: 5;
}
.carousel-indicators{ 
  position: absolute;
  bottom:20%;
  z-index: 20;

}
.carousel-indicators .active{
  width: 45px;
  height: 45px;
  background: url(../images/slide_p2.png);
  overflow: hidden;
}
.carousel-indicators li{
  list-style:decimal;
  float: right;
  width: 45px;
  height: 45px;
 /* margin-right: 2%;*/
  background: url(../images/slide_p1.png);
  overflow: hidden;
}
.item .text{
  position: absolute;
  width: 436px;
  height: 100%;
  right:-436px;
  top:0;
  z-index: 15;
}
.text01 {
    width: 436px;
    height: 100%;
    position: absolute;
    left:0px;
    top: 0;
    z-index: 15;
    background: #21262a url(../images/textbg.png) left top no-repeat;
    background-size: auto 100%;
}
.text01 ._box{
  margin:20% 40px 0;
}
.text01 ._title {
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    color: #1e8cda;
    line-height: 1.2;
}
.text01 ._tag {
    text-align: right;
    font-size: 27px;
    font-weight: bold;
    color: #f86c0f;
    border-bottom: #1e8cda 3px solid;
    line-height: 1.2;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.text01 ._text {
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
}
.text02 {
    width: 463px;
    height: auto;
    position: absolute;
    top: 40%;
    left:0;
    background-color: #21262a;
    border-bottom: #1e8cda 6px solid;
    transition: all 0.8 ease;
    z-index: 15;
    opacity: 0.8;
}
.text02 img {
    max-width: none;
    margin: 10px 20px;
}

/*成功案例*/
.icase {
    background: #2a3136 url(../images/case_bg.png) 98% 43px no-repeat;
}
.icase ._hd ._title {
    color: #fff;
}
.case_scroll {
    width: 100%;
    height: 240px;
}
.case_scroll ul{
    /*width:1308px;*/
    height: 240px;
    overflow: hidden;
}

.case_scroll li {
    width:310px;
    // width: 25%;
    height: 100%;
    float: left;
    position: relative;
}
.case_scroll li img{
    width: 100%;
    height: 100%;
}

.case_scroll li ._cover{
    width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	color: white;
	font-size: 18px;
	position: absolute;
    top: 100%;
    left: 0;
	transition: all 0.5s ease;
	/*display: none;*/
}
.zoom {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 120px;
   	padding-top: 100px;
    background: url(../images/zoom.png) center no-repeat;
}
.case_scroll ._title {
    width: 70%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    padding: 0 50px;
}
.case_scroll li a:hover ._cover{
    transform: translate(0,-5px); 
    -webkit-transform: translate(0,-5px); 
    -moz-transform: translate(0,-5px); 
    -ms-transform: translate(0,-5px); 
    height:100%;
    top:0px;
}


/*最新动态*/
.inews ._bd li {
    width: 26%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    padding: 8px;
}
.inews ._bd ._title {
    font-size: 15px;
    height: 34px;
    line-height: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}
.inews ._bd ._text {
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    margin-bottom: 10px;
}
.inews ._bd ._more {
    display: block;
    width: 95px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    color: #f86c0f;
    border: #f86c0f 1px solid;
    border-radius: 3px;
    margin:10px auto;
}
.inews ._bd ._img {
    display: block;
    height: 150px;
    overflow: hidden;
}
.inews ._bd ._img:hover img{
    transform:scale(1.2,1.2);
}
.inews ._bd ._img img{
    width: 100%;
    height:100%;
    transition: all 2s ease ;
}
.inews ._bd a:hover{
	color:#1E9AE4;
}
.inews {
    padding-bottom: 50px;
}
.inews ._bd ._more.on{
    color: white;
    background-color:#f86c0f;
}
.inews ._bd ._img img.on{
    transform:scale(1.2,1.2);
}

/*媒体查询*/
@media screen and (max-width:1024px){
    ._info{
        display: none;
    }
}
@media screen and (max-width:640px){
    .inews ._bd li{
        width: 93%;
    }
    .inews ._bd ._img {
        width: 100%;
        display: block;
        height: 320px;
    }
    /*成功案例*/
    .case_scroll {
        width: 100%;
        height: 450px;
        overflow: hidden;
    }
    .case_scroll li {
        width: 100%;
        float: left;
    }
    .case_scroll li ._cover{
        position: absolute;
        top: 0;
        left: 0;
    }

    .zoom {
        margin-left: 260px;
        margin-top: 100px;
    }
    .case_scroll ._title {
        padding: 80px 100px;
    }
    /*头部*/
    .top .nav{
        display: none;
    }
    /*section动态轮播*/
    .slide_c ._info{
        display: none;
    }
    .iBanner .slide_nav{
        display: none;
    }
    
    /*我们的优势*/
     .text02{
        display: none;
    }
    .adv .text02.on{
        display: none;
    }
    .adv .slide_nav2{
        top:1500px;
        right: 50px;
    }
    .adv .text01{
        left: 0;
        width: 45%;
    }


}



